$black-color: #000000;
$navyBlue-color: #363896;
$orange-color: #E16625; 
$white-color: #fff;
$grey-color: #8D8D8D;
$lightGrey-color: #C9C9C9;
$green-color: #92cb9e;

$color-white: #fff;

// https://flatuicolors.com/palette/ca
$red-pastel: #ff6b6b; 
// $navyBlue-color: #341f97; 
// $green-color: #1dd1a1;
$imperial-color: #222f3e;
$fuel-color: #576574;
$purple-color: #5f27cd;

// $fontSerif: 'Playfair Display', serif;
$fontSerif: 'CreativeVintage';
// $fontWrite: 'Great Vibes', cursive;
$fontWrite: 'FabulousScript';
// $font: 'Quicksand', sans-serif;
$font: 'helvetica';
$border-width: 5px; //recipeBox hover


$z-index-nav: 100;