.footer {
  width: 100%;
  background-color: $black-color;
  color: $color-white;

  &__top {
    width: 100%;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &-nav {
      width: 100%;
      display: flex;

      &--items {
        .menu {
          display: flex;
          list-style-type: none;
          padding: 2rem;

          .menu-item {
            color: $color-white;
            a {
              text-decoration: none;
              color: $color-white;
              padding: 0 1rem 0 0;
            }
          }
        }
      }
      &--social {
        ul {
          display: flex;
          list-style-type: none;
          padding: 2rem;

          @media (max-width: 480px) {
            padding: 1rem;
          }

          li {
            color: $color-white;
            a {
              text-decoration: none;
              color: $color-white;
              padding: 0 0 0 1rem;
            }
          }
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 1rem;
    background-color: $black-color;
    color: $grey-color;

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }

    &-link {
      text-decoration: none;
      color: $color-white;

      &:hover {
        color: $red-pastel;
      }
    }
  }
}
