.ltb {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 7rem;

    &-read {
      @media (max-width: 768px) {
      }
    }
  }

  &__small-text {
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }
}
